body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

main {
    margin: 20px;
}

input[type="file"] {
    margin: 15px;
}

input[type="submit"], button#process-btn {
    margin: 5px;
    padding: 5px 10px;
}
